:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    --color-text-main: #111827;
    --color-text-muted: #374151;
    --color-text-light-grey: #6B7280;
    --color-text-slight-grey: #D1D5DB;
    --color-white: #FFFFFF;
    --color-primary: #7C3AED;
    --color-primary-hover: #6D28D9;

    --container-width: 1440px;
    --container-padding: 7rem; 
}
body {
    color: var(--color-text-main);
    background-color: var(--color-white);
}
.wrapper {
    max-width: var(--container-width);
    padding-inline: var(--container-padding);
    margin: 0 auto;
    width: 100%;
}
.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}
.btn-primary:hover {
    background-color: var(--color-primary-hover);
}
.header {
    width: 100%;
    position: absolute;
    z-index: 100;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
    gap: 1rem;
}
.header__nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}
.nav__item {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
}
.nav__item:hover {
    transform: translateY(-2px);
    color: black;
}
.header__nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}
.header__badge-link {
    transition: transform 0.3s ease;
}
.header__badge-link:hover {
    transform: scale(1.03);
}
.header__burger {
    display: none;
}
@media (max-width: 960px) {
    .wrapper {
        padding-inline: 2.5rem;
    }
    .nav__list {
        display: none;
    }
    .header__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1.5rem;
        height: 1.5rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 6px 4px;
        margin: 0 0 0 1rem;
    }
    .header__burger-line {
        width: 100%;
        height: 2px;
        background-color: var(--color-text-main);
        border-radius: 1px;
    }
}
@media (max-width: 590px) {
    .wrapper {
        padding-inline: 1.25rem;
    }
    .header__nav-right {
        gap: 0;
    }
    .header__badge {
        display: none;
    }
    .header__burger {
        margin: 0;
    }
}
.hero {
    background: 
        url('../img/hero-bg-lines.svg') no-repeat left top,
        url('../img/hero-bg.png') no-repeat left top,
        var(--color-white);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-block: 9.5rem 0;
    margin: 0 0 1rem 0;
}
.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 4.625rem;
}
.hero__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2rem;
    padding: 6rem 0 0 0;
    max-width: 648px;
}
.hero__content-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero__title {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.hero__description {
    color: var(--color-text-muted);
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.hero__content-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero__btn-video {
    gap: 0.5rem;
    color: var(--color-primary);
    background-color: transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.hero__btn-video:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.hero__btn-video:hover .hero__btn-icon {
    filter: brightness(0) invert(1);
}
.hero__btn-icon {
    transform: translateY(-2px);
}
.hero__preview {
    max-width: 320px;
    width: 100%;
    margin: 0 5.25rem 0 0;
}
.hero__preview-img {
    border-radius: 3.2rem;
    background: transparent;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(17, 24, 39, 0.25);
}
@media (max-width: 1200px) {
    .hero {
        background-size: 100% 88%;
        padding: 0;
    }
    .hero__container {
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
        padding-bottom: 5rem;
        gap: 5rem;
    }
    .hero__content {
        padding: 0;
        max-width: 100%;
    }
    .hero__title {
        font-size: 3rem;
        line-height: 3.75rem;
    }
    .hero__preview {
        margin: 0;
    }
}
@media (max-width: 600px) {
        .hero {
            background: url(../img/hero-bg-mobile.png) no-repeat left top / 100% 89%,
                        var(--color-white);
        }
        .hero__container {
            padding-top: 7.5rem;
            padding-bottom: 5.875rem;
        }
        .hero__content {
            align-items: center;
        }
        .hero__title {
            font-size: 2.25rem;
            line-height: 2.8125rem;
        }
}