:root {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    --color-text-main: #111827;
    --color-text-muted: #374151;
    --color-text-light-grey: #6B7280;
    --color-text-slight-grey: #D1D5DB;
    --color-white: #FFFFFF;
    --color-primary: #7C3AED;
    --color-primary-hover: #6D28D9;

    --container-widih: 1440px;
    --container-padding: 7rem; 
}
body {
    color: var(--color-text-main);
    background-color: var(--color-white);
}
.wrapper {
    max-width: var(--container-widih);
    padding-inline: var(--container-padding);
    margin: 0 auto;
    width: 100%;
}
.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
}
.btn-primary:hover {
    background-color: var(--color-primary-hover);
}
.header {
    margin: 0 0 4.5rem 0;
    width: 100%;
    position: absolute;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
}
.header__nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}
.nav__item {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
}
.header__nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}
.hero {
    background: var(--color-white) url('/img/hero-bg.svg') no-repeat center center;
    position: relative;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}